{
  "ecmaFeatures": {
    "jsx": true
  },
  {
    "extends": [
      "eslint-config-airbnb",
      "eslint-config-algolia"
    ]
  },
  "rules": {
    // Override our default settings just for this directory
    "strict": 0,
     "quotes": [
      2, "single", "avoid-escape"    // http://eslint.org/docs/rules/quotes
    ],
    "new-cap": [1, {                 // http://eslint.org/docs/rules/new-cap
      "newIsCap": true
    }],
  },
  "env": {
    "node": true,
    "browser": true
  }
}